body {
  font-family: "Helvetica Neue", Arial;
}

header {
  background: #666;
  text-align: center;
  color: #fff;
}

.container {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  border: 4px solid #ddd;
}

.container img{
  width: 32%;
  margin: 10px auto;
}

#openseadragon1{
  width: 100%;
  height: 100%;
  background-color: #111;
}