<div flex layout="row">
    <md-content flex id="content"></md-content>
    <h2>zoomboard (register partial)</h2>
    <div class="form">
      <form id="register" class="form-inline">
      <fieldset class="form-group">
        <input type="text" id='name' name="user[name]" placeholder="Name" class="form-control">
        <input type="text" id='email' name="user[email]" placeholder="Email address" class="form-control">
        <input type="password" id='password' name="user[password]" placeholder="Password" class="form-control">
        <input type="password" id='passwordConf' name="user[passwordConfirmation]" placeholder="Password Confirmation" class="form-control">
        <input type="submit" value='Register' class="btn btn-primary" id="btn-color">
        </fieldset>
      </form>
    </div>
</div>




